@charset "utf-8";

#mainVisual{background:url(../images/main/main_kiosk.jpg) no-repeat 50% 50% / cover;}
#mainVisual > .inner{display:flex;align-items:center;height:100rem;}
#mainVisual .visual-title{font-size:6.4rem;font-weight:700;line-height:1.13;color:#fff;}

.sect-quotes{position:relative;padding:6.6rem 0;font-size:2.8rem;font-weight:600;line-height:1.43;text-align:center;color:#222;word-break:keep-all;}
.sect-quotes::before,.sect-quotes::after{display:block;clear:both;content:'';position:absolute;left:50%;width:4.2rem;height:3rem;margin-left:-2.1rem;background-repeat:no-repeat;background-position:50% 50%;background-size:100% 100%;}
.sect-quotes::before{top:0;background-image:url(../images/main/quotes_ico_before@2x.png);}
.sect-quotes::after{bottom:0;background-image:url(../images/main/quotes_ico_after@2x.png);}

.sect-title{font-size:4.8rem;font-weight:600;line-height:1.25;color:#000;word-break:keep-all;}
.sect-stitle{font-size:2.8rem;font-weight:600;line-height:1.43;color:#222;word-break:keep-all;}
.sect-text{font-size:2rem;line-height:1.5;color:#222;word-break:keep-all;}

@media screen and (max-width:1340px){
	#mainVisual{background-position:70% 50%;}
}
@media screen and (max-width:960px){
	#mainVisual > .inner{height:78vw;}
	#mainVisual .visual-title{font-size:6.25vw}
}
@media screen and (max-width:540px){
	.sect-quotes br{display:none;}
	.sect-stitle{font-size:17px}
	.sect-text{font-size:15px}
}
@media screen and (max-width:360px){
}

#mainExample{padding:8rem 0;}
#mainExample > .inner{}
#mainExample .sect-quotes{margin-bottom:8rem;}

#mainExample .sect-flex{display:flex;justify-content:space-between;align-items:center;}
#mainExample .sect-flex + .sect-flex{margin-top:2rem;}
#mainExample .sect-flex-image{width:56rem;flex-shrink:0}
#mainExample .sect-flex-info{flex-grow:1;word-break:keep-all;}
#mainExample .sect-flex-info .sect-stitle{margin-bottom:2.4rem;}
#mainExample .sect-flex-info .sect-text{}
#mainExample .sect-flex-info .sect-btn{margin-top:4rem;}

#mainExample .sect-flex.i1{flex-direction:row-reverse}
#mainExample .sect-flex.i1 .sect-flex-image{position:relative;margin-right:-2rem;}
#mainExample .sect-flex.i1 .sect-flex-info{padding-right:12rem;}
#mainExample .sect-flex.i2 .sect-flex-info{padding-left:12rem;}

@media screen and (max-width:1340px){
	#mainExample .sect-flex.i1 .sect-flex-image{margin-right:0;}
	#mainExample .sect-flex-image{width:41.79vw;}

	#mainExample .sect-flex.i1 .sect-flex-info{padding-right:6rem;}
	#mainExample .sect-flex.i2 .sect-flex-info{padding-left:6rem;}
}

@media screen and (max-width:960px){
	#mainExample .sect-flex-image{width:38vw;}
	#mainExample .sect-flex-info br{display:none;}
	#mainExample .sect-flex.i1 .sect-flex-info{padding-right:6vw;}
	#mainExample .sect-flex.i2 .sect-flex-info{padding-left:6vw;}
}
@media screen and (max-width:720px){
	#mainExample{padding:8rem 2rem}
	#mainExample .sect-flex{display:block;}
	#mainExample .sect-flex + .sect-flex{margin-top:6rem;}
	#mainExample .sect-flex-image{width:100%;margin-bottom:3rem;}
	#mainExample .sect-flex.i1 .sect-flex-info{padding-right:0;}
	#mainExample .sect-flex.i2 .sect-flex-info{padding-left:0;}
}
@media screen and (max-width:540px){
	#mainExample{padding:8rem 0}
}
#mainWhy{padding:8.8rem 0 8rem;background:#222222;}
#mainWhy .sect-title{margin-bottom:4rem;color:#fff;text-align:center;}
#mainWhy .sect-list{display:flex;justify-content:center;}
#mainWhy .sect-list > li{width:33.33%;text-align:center;}
#mainWhy .sect-list > li .sect-icon img{width:20rem;}
#mainWhy .sect-list > li .sect-stitle{color:#fff;}
#mainWhy .sect-list > li .sect-text{margin-top:2.4rem;color:#fff;}
@media screen and (max-width:960px){
	#mainWhy .sect-list > li .sect-text br{display:none;}
}
@media screen and (max-width:720px){
	#mainWhy .sect-list{display:block;}
	#mainWhy .sect-list > li{width:100%}
	#mainWhy .sect-list > li + li{margin-top:5rem;}
	#mainWhy .sect-list > li .sect-icon img{width:25rem;}
}
#mainTogether{padding:8rem 0;background-color:#f8f8f8;}
#mainTogether .sect-title{margin-bottom:2.4rem;text-align:center;}
#mainTogether .sect-text{margin-bottom:2.4rem;text-align:center;}
#mainTogether .sect-image{margin:5rem 0 6rem;}
#mainTogether .sect-btn{text-align:center;font-size:0;}
#mainTogether .sect-btn a + a{margin-left:1.2rem;}

#mainQuiz{padding:12rem 0 12.6rem;background-color:#222;}
#mainQuiz .sect-flex{display:flex;justify-content:space-between;align-items:center;}
#mainQuiz .sect-flex-image{width:49.6rem;flex-shrink:0}
#mainQuiz .sect-flex-info{flex-grow:1;padding-left:9.8rem;padding-top:3px;}
#mainQuiz .sect-title{margin-bottom:2.4rem;color:#fff;}
#mainQuiz .sect-text{color:#fff;}
#mainQuiz .sect-text p + p{margin-top:3rem;}

@media screen and (max-width:1340px){
	#mainQuiz .sect-flex-image{width:37.01vw;}
	#mainQuiz .sect-flex-info{padding-left:7vw;}
}

@media screen and (max-width:960px){
	#mainQuiz .sect-flex-image{width:35vw;}
	#mainQuiz .sect-flex-info{padding-left:5vw;}
}
@media screen and (max-width:720px){
	#mainQuiz .sect-flex{display:block;text-align:center;}
	#mainQuiz .sect-flex-image{margin:0 auto;}
	#mainQuiz .sect-flex-info{margin-top:5rem;padding-left:0;}
	#mainQuiz .sect-text br{display:none;}
}
#mainTry{padding:8rem 0;text-align:center;}
#mainTry .sect-title{margin-bottom:2.4rem;}
#mainTry .sect-list{display:flex;justify-content:center;}
#mainTry .sect-list > li{width:33.33%;text-align:center;}
#mainTry .sect-list > li .sect-icon{margin-bottom:2.4rem;}
#mainTry .sect-list > li .sect-icon img{width:30rem;}
#mainTry .sect-list > li .sect-text{margin-bottom:3.6rem;}
#mainTry .sect-list > li .sect-btn{font-size:0;}
#mainTry .sect-list > li .btn-image{display:inline-block;margin-top:1.1rem;}
#mainTry .sect-list > li .btn-image + .btn-image{margin-left:4px;}
#mainTry .sect-list > li .btn-image img{height:4rem;}

@media screen and (max-width:1340px){
	#mainTry .sect-list > li .sect-icon img{width:22.38vw;}
}
@media screen and (max-width:720px){
	#mainTry .sect-list{flex-wrap:wrap !important;}
	#mainTry .sect-list > li{width:50%;margin-top:2rem;}
	#mainTry .sect-list > li .sect-icon img{width:27.77vw;}
}
@media screen and (max-width:540px){
	#mainTry .sect-list > li{width:100%;}

}

#mainFinish{padding:12rem 0;background:url(../images/main/giftcoin_kiosk.jpg) no-repeat 50% 50% / cover;text-align:center;}
#mainFinish > .inner{}
#mainFinish .sect-title{color:#fff;}
#mainFinish .sect-btn{margin-top:4rem;text-align:center;}